<div class="col-md-6 user-container">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="id">Id</label><input disabled type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly="true">
    </div>

    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" formControlName="username" placeholder="username" name="username" class="form-control" id="username" readonly="true">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" placeholder="email" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="plainPassword">Plain Password:</label>
      <input type="password" formControlName="plainPassword" placeholder="plainPassword" name="plainPassword" class="form-control" id="plainPassword">
    </div>

    <div class="form-group">
      <label  >Options:</label>
      <div *ngFor="let option of options; let i = index">
        <label for="roles_{{i}}">Options:
          <input type="checkbox"
                 formControlName="roles"
                 id="roles_{{i}}"
                 name="options_{{i}}"
                 value="{{option.value}}"
                 [(ngModel)]="option.checked"/>
          {{option.name}}
        </label>
      </div>
    </div>

    <button mat-flat-button color="accent" >Update</button>
  </form>
</div>
