<!--
<form novalidate #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <label for="username" >username
    <input type="text" name="username" ngModel />
  </label>

  <label for="password" >username
    <input type="password" name="password" ngModel="" />
  </label>
  <input type="submit" value="Login"/>
  <p *ngIf="invalidLogin">Invalid Credentials</p>
</form>
-->

<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="login()">
      <p>

        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-flat-button color="accent">Login</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
