<div class="col-md-6 user-container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h2 class="text-center">Edit Book</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label for="id">Id</label><input disabled type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly="true">
    </div>

    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" formControlName="title" placeholder="title" name="title" class="form-control" id="title">
    </div>
    <div class="form-group">
      <label for="pages">Pages:</label>
      <input type="number" formControlName="pages" placeholder="pages" name="pages" class="form-control" id="pages">
    </div>
    <div class="form-group">
      <label for="editionDate">Edition Date:</label>
      <input type="date" formControlName="editionDate" placeholder="editionDate" name="edition date" class="form-control" id="editionDate">
    </div>
    <div class="form-group">
      <label for="stockNumber">Stock Number:</label>
      <input type="number" formControlName="stockNumber" placeholder="stockNumber" name="stock" class="form-control" id="stockNumber">
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" formControlName="price" placeholder="price" name="price" class="form-control" id="price">
    </div>
    <div class="form-group">
      <label for="isbn">ISBN:</label>
      <input type="text" formControlName="isbn" placeholder="isbn" name="isbn" class="form-control" id="isbn">
    </div>

    <div class="form-group ">
      <mat-form-field appearance="fill">
        <mat-label>Authors</mat-label>
        <mat-select [formControl]="authorsFormControl" multiple>
          <mat-option *ngFor="let author of authorsCollection" [value]="author">{{author.firstName + ' ' + author.lastName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group ">
      <mat-form-field appearance="fill">
        <mat-label>Editors</mat-label>
        <mat-select [formControl]="editorsFormControl" multiple>
          <mat-option *ngFor="let editor of editorsCollection" [value]="editor" (select)="book.editors">{{editor.firstName + ' ' + editor.lastName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group ">
      <mat-form-field appearance="fill">
        <mat-label>category</mat-label>
        <mat-select [formControl]="categoryFormControl" >
          <mat-option *ngFor="let category of categoriesCollection" [value]="category">{{category.designation }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>



    <button mat-flat-button  color="accent" >Update</button>
  </form>
</div>
