<mat-card class="example-card">
  <mat-card-header>

  </mat-card-header>
  <mat-card-content>
    <div class="col-md-6 user-container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
      <h2 class="text-center">Borrow Book</h2>
      <div class="form-group">
        <mat-card>
          <mat-card-content>
            <span> <mat-icon>title</mat-icon>{{book.title | titlecase}} </span>
          </mat-card-content>
          <mat-card-content>
            <span> <mat-icon>attach_money</mat-icon>{{book.price | currency}} </span>
          </mat-card-content>
        </mat-card>

      </div>
      <div class="form-group">
        <mat-card>
          <mat-card-content>
            <span> <mat-icon>alternate_email</mat-icon>{{user.email | titlecase}} </span>
          </mat-card-content>
          <mat-card-content>
            <span> <mat-icon>verified_user</mat-icon>{{user.username | titlecase}} </span>

          </mat-card-content>
        </mat-card>
      </div>
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()" >
        {{currentDate | date}}
        <div class="form-group">
          <label for="borrowDate">Borrow Date:</label>
          <input type="date"
                 formControlName="borrowDate"
                 [ngModel]="currentDate | date:'yyyy-MM-dd'"
                 name="borrowDate" class="form-control"
                 id="borrowDate" readonly>
        </div>
        <div class="form-group">
          <label for="returnDate">Return Date:</label>
          <input type="date"
                 min="{{currentDate}}"
                 formControlName="returnDate"
                 placeholder="return date"
                 name="returnDate"
                 class="form-control"
                 id="returnDate">
        </div>

        <button mat-flat-button color="warn" (click)="cancelBorrow()" >Cancel</button>
        <button mat-flat-button color="accent" type="submit" [disabled]="! addForm.valid"  >Borrow</button>


      </form>

    </div>
  </mat-card-content>
</mat-card>
