table {
  width: 100%;
}
.example-card {
  max-width: 100%;

}
.content > mat-card {
  width: 200px;
}


.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
