


<mat-toolbar color="accent" class="mat-toolbar">
  <span></span>
  <button mat-button (click)="toggleGridColumns()" fxHide.lt-sm>
    <span *ngIf="gridColumns === 4">Three Columns</span>
    <span *ngIf="gridColumns === 3">Four Columns</span>
  </button>
</mat-toolbar>



<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let book of books">
      <mat-card class="example-card">

         <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title >{{book.title}}</mat-card-title>
          <mat-card-subtitle fxLayoutAlign="center">
                <strong>
              {{book.price | number | currency}}
            </strong>

           </mat-card-subtitle>
        </mat-card-header>
         <img mat-card-image src="https://localhost:8000/{{medias.get(book.id)}}" alt="{{book.title}}">
         <mat-card-content >
          <div>
            <i class="material-icons">auto_stories</i>
              <p *ngIf="authors.has(book.id); else elseBlock"><strong> {{authors.get(book.id)}}  </strong></p>
              <ng-template #elseBlock> Not Found </ng-template>

            <!-- <strong fxFlexFill class="mat-card-subtitle">{{ authors.get(book.id) }}</strong> -->
          </div>
           <div>
             <i class="material-icons">category</i>
             <p *ngIf="category.has(book.id); else elseBlock"><strong> {{category.get(book.id) }}  </strong></p>
             <ng-template #elseBlock> Not Found </ng-template>
           </div>
        </mat-card-content>
        <mat-card-actions>
          <button color="accent" mat-flat-button (click)="openBorrowDialog(book.id)">Borrow</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>


