.example-card {
  max-width: 400px;
  text-align: center;

}


img{
  width: 250px;
  height: 400px;
  position: center;
}
 mat-toolbar {
  justify-content: space-between;
}



.content > mat-card {
  margin-bottom: 16px;
}
mat-card {
  margin-bottom: 16px;
  margin-left: 16px;

}
