<!--
<mat-card>
  <mat-card-title> Books Details</mat-card-title>
  <mat-card-content>
    <div>

      <button class="btn btn-danger" style="width:100px" (click)="addBook()">Add Book</button>

      <table class="table mat-table-sticky ">
        <thead >
        <tr class="d-flex">
          <th class="hidden">Id</th>
          <th>Title</th>
          <th>Pages</th>
          <th>Edition Date</th>
          <th>Stock Quantity</th>
          <th>Price</th>
          <th>ISBN</th>
          <th>Authors</th>
          <th>Editors</th>
          <th>Category</th>
          <th>Picture</th>


        </tr>
        </thead>
        <tbody >
        <tr class="d-flex" *ngFor="let book of books">
          <td class="hidden"></td>
          <td>{{book.id}}</td>
          <td>{{book.title}}</td>
          <td>{{book.pages}}</td>
          <td>{{book.editionDate}}</td>
          <td>{{book.stockNumber}}</td>
          <td>{{book.price}}</td>
          <td>{{book.isbn}}</td>
          <td>{{book.authors}}</td>
          <td>{{book.editors}}</td>
          <td>{{book.category}}</td>
          <td>{{book.picture}}</td>

          <td>
            <button  class="btn btn-success mr-1" (click)="editBook(book)" > Edit</button>
            <button  class="btn btn-danger"  (click)="deleteBook(book)"> Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>
-->


<mat-card class="example-card">
  <mat-card-header>

  </mat-card-header>
  <mat-card-content>
    <div class="example-button-container">
      <button mat-icon-button color="primary" (click)="addBook()" >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <table mat-table [dataSource]="books">

      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="Pages">
        <th mat-header-cell *matHeaderCellDef> Pages </th>
        <td mat-cell *matCellDef="let element"> {{element.pages | number}} </td>
      </ng-container>

      <ng-container matColumnDef="Edition Date">
        <th mat-header-cell *matHeaderCellDef> Edition Date </th>
        <td mat-cell *matCellDef="let element"> {{element.editionDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="Stock Quantity">
        <th mat-header-cell *matHeaderCellDef> Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.stockNumber | number}} </td>
      </ng-container>

      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="ISBN">
        <th mat-header-cell *matHeaderCellDef> ISBN </th>
        <td mat-cell *matCellDef="let element"> {{element.isbn}} </td>
      </ng-container>

      <ng-container matColumnDef="Authors">
        <th mat-header-cell *matHeaderCellDef> Authors </th>
        <td mat-cell *matCellDef="let element">
          <p *ngIf="authors.has(element.id); else elseBlock"> {{authors.get(element.id)}} </p>
          <ng-template #elseBlock> NaN </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="Editors">
        <th mat-header-cell *matHeaderCellDef> Editors </th>
        <td mat-cell *matCellDef="let element">
          <p *ngIf="editors.has(element.id); else elseBlock"> {{editors.get(element.id)}} </p>
          <ng-template #elseBlock> NaN </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="Category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element" >
          <p *ngIf="category.has(element.id); else elseBlock"> {{category.get(element.id)}} </p>
          <ng-template #elseBlock> NaN </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="Picture">
        <th mat-header-cell *matHeaderCellDef> Picture </th>
        <td mat-cell *matCellDef="let element">
          <img src="https://localhost:8000/{{media.get(element.id)}}"
          style="width: 30px; height: 30px;">
        </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef > Actions </th>
        <td mat-cell *matCellDef="let row" >
          <button mat-button color="accent" (click)="editBook(row)" >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button color="warn" (click)="openConfirmationDialog(row)" >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
