<mat-card class="example-card">
  <mat-card-header>

  </mat-card-header>
  <mat-card-content>
    <div class="col-md-6 user-container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
      <h2 class="text-center">Add Author</h2>
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()" >

        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input type="text" formControlName="firstName" placeholder="firstname" name="firstName" class="form-control" id="firstName">
        </div>

        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input type="text" formControlName="lastName" placeholder="lastname" name="lastName" class="form-control" id="lastName">
        </div>

        <div class="form-group">
          <label for="biography">Biography:</label>
          <textarea  formControlName="biography" placeholder="biography" name="biography" class="form-control" id="biography"> </textarea>
        </div>

        <button mat-flat-button color="accent" type="submit" [disabled]="!addForm.valid">Add</button>

      </form>

    </div>
  </mat-card-content>
</mat-card>
