table {
  width: 100%;
}
.example-card {
  max-width: 100%;
}
mat-card{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

