<div class="form-group">
  <mat-card >
    <mat-card-header>
      <mat-card-title mat-card-title><mat-chip color="accent">{{user?.username}}'s profile </mat-chip></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <table class="table mat-table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Roles</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td> {{user?.email}}</td>
          <td> {{user?.roles}}</td>
        </tr>
        </tbody>
      </table>

    </mat-card-content>

    <button mat-button color="warn" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>

  </mat-card>
</div>
<div class="form-group">
  <mat-card class="example-card ">
    <mat-card-header >

    </mat-card-header>
    <mat-card-content>

      <table mat-table [dataSource]="borrows">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>


        <ng-container matColumnDef="book">
          <th mat-header-cell *matHeaderCellDef> Book </th>
          <td mat-cell *matCellDef="let element"> {{bookTitles.get(element.id) }} </td>
        </ng-container>
        <ng-container matColumnDef="returnDate">
          <th mat-header-cell *matHeaderCellDef> Return Date </th>
          <td mat-cell *matCellDef="let element"> {{element.returnDate |date}} </td>
        </ng-container>

        <ng-container matColumnDef="borrowDate">
          <th mat-header-cell *matHeaderCellDef> Borrow Date </th>
          <td mat-cell *matCellDef="let element"> {{element.borrowDate |date}} </td>
        </ng-container>


        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef> State </th>
          <td mat-cell *matCellDef="let element">

            <mat-chip-list>
              <mat-chip color="{{ element.state == 'pending' ? 'warn' : 'primary' }}" selected>
                {{element.state}}
              </mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>

