<div class="col-md-6 user-container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h2 class="text-center">Edit Category</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label for="id">Id</label><input disabled type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly="true">
    </div>

    <div class="form-group">
      <label for="designation">Designation:</label>
      <input type="text" formControlName="designation" placeholder="designation" name="designation" class="form-control" id="designation">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" formControlName="description" placeholder="description" name="description" class="form-control" id="description">
    </div>



    <button mat-flat-button  color="accent" >Update</button>
  </form>
</div>

