<div style="height: 80vh;">
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="modal-header"><button routerLink="" mat-raised-button color="accent">Book Store</button></span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->

          <a routerLink="" mat-button><mat-icon>home</mat-icon></a>
          <a *ngIf="!auth.connected" routerLink="login" mat-button><mat-icon>login</mat-icon></a>
          <a *ngIf="!auth.connected" routerLink="register" mat-button><mat-icon>app_registration</mat-icon></a>
          <a *ngIf="auth.connected" routerLink="member" mat-button><mat-icon>person</mat-icon></a>
          <a *ngIf="auth.roles && auth.roles.includes('ROLE_ADMIN')" routerLink="admin/list-user" mat-button>Users</a>
          <a *ngIf="auth.roles && auth.roles.includes('ROLE_ADMIN')" routerLink="admin/list-book" mat-button>Books</a>
          <a *ngIf="auth.roles && auth.roles.includes('ROLE_ADMIN')" routerLink="admin/list-author" mat-button>Authors</a>
          <a *ngIf="auth.roles && auth.roles.includes('ROLE_ADMIN')" routerLink="admin/list-editor" mat-button>Editors</a>
          <a *ngIf="auth.roles && auth.roles.includes('ROLE_ADMIN')" routerLink="admin/list-category" mat-button>Categories</a>


      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item><mat-icon>close</mat-icon></a>

      <a routerLink="" mat-list-item><mat-icon>home</mat-icon></a>
      <a *ngIf="!auth.connected" routerLink="login" mat-list-item><mat-icon>login</mat-icon></a>
      <a *ngIf="!auth.connected" routerLink="register" mat-list-item><mat-icon>app_registration</mat-icon></a>
      <a *ngIf="auth.connected" routerLink="member"  mat-list-item><mat-icon>person</mat-icon></a>
      <a *ngIf="auth.roles && auth.roles.includes('ROLE_ADMIN')" routerLink="admin/list-user" mat-list-item>Users</a>
      <a *ngIf="auth.roles && auth.roles.includes('ROLE_ADMIN')" routerLink="admin/list-book" mat-list-item>Books</a>
      <a *ngIf="auth.roles && auth.roles.includes('ROLE_ADMIN')" routerLink="admin/list-author" mat-list-item>Authors</a>
      <a *ngIf="auth.roles && auth.roles.includes('ROLE_ADMIN')" routerLink="admin/list-editor" mat-list-item>Editors</a>
      <a *ngIf="auth.roles && auth.roles.includes('ROLE_ADMIN')" routerLink="admin/list-category" mat-list-item>Categories</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

