<div class="col-md-6 user-container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h2 class="text-center">Edit Editor</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label for="id">Id</label><input disabled type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly="true">
    </div>

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" formControlName="firstName" placeholder="firstname" name="firstName" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" formControlName="lastName" placeholder="lastname" name="lastName" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="country">Country:</label>
      <input type="text"  formControlName="country" placeholder="country" name="country" class="form-control" id="country">
    </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <textarea  formControlName="address" placeholder="address" name="address" class="form-control" id="address"> </textarea>
    </div>

    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text"  formControlName="phone" placeholder="phone" name="phone" class="form-control" id="phone">
    </div>

    <button mat-flat-button  color="accent" >Update</button>
  </form>
</div>
