<mat-card class="example-card">
  <mat-card-header>

  </mat-card-header>
  <mat-card-content>
    <div class="col-md-6 user-container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <h2 class="text-center">Add Book</h2>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" >
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" formControlName="title" placeholder="title" name="title" class="form-control" id="title">
          </div>
          <div class="form-group">
            <label for="pages">Pages:</label>
            <input type="number" formControlName="pages" placeholder="pages" name="pages" class="form-control" id="pages">
          </div>
          <div class="form-group">
            <label for="editionDate">Edition Date:</label>
            <input type="date" formControlName="editionDate" placeholder="edition date" name="editionDate" class="form-control" id="editionDate">
          </div>
          <div class="form-group">
            <label for="stockNumber">Stock Number:</label>
            <input type="number" formControlName="stockNumber" placeholder="stock" name="stockNumber" class="form-control" id="stockNumber">
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" formControlName="price" placeholder="price" name="price" class="form-control" id="price">
          </div>
          <div class="form-group">
            <label for="isbn">ISBN:</label>
            <input type="text" formControlName="isbn" placeholder="isbn" name="isbn" class="form-control" id="isbn">
          </div>

            <div class="form-group ">
              <mat-form-field appearance="fill">
                <mat-label>Authors</mat-label>
                <mat-select [formControl]="authorsFormControl" multiple>
                  <mat-option *ngFor="let author of authorsCollection" [value]="author">{{author.firstName + ' ' + author.lastName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group ">
              <mat-form-field appearance="fill">
                <mat-label>Editors</mat-label>
                <mat-select [formControl]="editorsFormControl" multiple>
                  <mat-option *ngFor="let editor of editorsCollection" [value]="editor">{{editor.firstName + ' ' + editor.lastName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


          <div class="form-group ">
            <mat-form-field appearance="fill">
              <mat-label>Category</mat-label>
              <mat-select [formControl]="categoryFormControl" >
                <mat-option *ngFor="let category of categoriesCollection" [value]="category" (change)="categoryEvent($event)" >{{category.designation }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngFor="let progressInfo of progressInfos" class="mb-2">
            <span>{{ progressInfo.fileName }}</span>
            <div class="progress">
              <div
                class="progress-bar progress-bar-info progress-bar-striped"
                role="progressbar"
                attr.aria-valuenow="{{ progressInfo.value }}"
                aria-valuemin="0"
                aria-valuemax="100"
                [ngStyle]="{ width: progressInfo.value + '%' }"
              >
                {{ progressInfo.value }}%
              </div>
            </div>
          </div>
          <div class="form-group">
            <label  class="btn btn-default"  for="picture">Picture
              <input  type="file" multiple (change)="selectFiles($event)"
                      formControlName="picture"
                      placeholder="picture"
                      name="picture"
                      class="form-control"
                      id="picture" />

            </label>
            <button
              type="button"
              mat-flat-button
              color="primary"
              [disabled]="!selectedFiles"
              (click)="uploadFiles()">
              Upload
            </button>
          </div>
          <div class="alert alert-light" role="alert">{{ message }}</div>
          <button mat-flat-button color="accent" type="submit"  >Add</button>


        </form>

      </div>
  </mat-card-content>
</mat-card>
