<div class="col-md-6 user-container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h2 class="text-center">Edit Author</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label for="id">Id</label><input disabled type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" readonly="true">
    </div>

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" formControlName="firstName" placeholder="firstname" name="firstName" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" formControlName="lastName" placeholder="lastname" name="lastName" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="biography">Biography:</label>
      <textarea  formControlName="biography" placeholder="biography" name="biography" class="form-control" id="biography"> </textarea>
    </div>


    <button mat-flat-button  color="accent" >Update</button>
  </form>
</div>
