
<!--
<form novalidate #loginForm="ngForm" (ngSubmit)="register(loginForm)">
  <label for="username" > username
    <input type="text" name="username" ngModel />
  </label>
  <label for="email" > email
    <input type="email" name="email" ngModel />
  </label>
  <label for="password"> password
    <input type="password" name="password" ngModel="" />
  </label>
  <input type="submit" value="Register"/>
</form>
-->
<mat-card>
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="register()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-flat-button color="accent">Register</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
