
/*
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  box-sizing: border-box;
}
mat-toolbar {
  justify-content: space-between;
}
.content {
  padding: 16px;
}
/*
.content{
  background-image: url(./assets/background.jpg);
}
*/
