
<mat-card class="example-card">
  <mat-card-header>

  </mat-card-header>
  <mat-card-content>
    <div class="example-button-container">
      <button mat-icon-button color="primary" (click)="addEditor()" >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <table mat-table [dataSource]="editors">

      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="First Name">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="Last Name">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let element"> {{element.country | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone }} </td>
      </ng-container>



      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef > Actions </th>
        <td mat-cell *matCellDef="let row" >
          <button mat-button color="accent" (click)="editEditor(row)" >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button color="warn"  (click)="openConfirmationDialog(row)" >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
