
<mat-card class="example-card">
  <mat-card-header>

  </mat-card-header>
  <mat-card-content>
    <div class="example-button-container">
      <button mat-icon-button color="primary" (click)="addCategory()" >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <table mat-table [dataSource]="categories">

      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="Designation">
        <th mat-header-cell *matHeaderCellDef> Designation </th>
        <td mat-cell *matCellDef="let element"> {{element.designation | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef > Actions </th>
        <td mat-cell *matCellDef="let row" >
          <button mat-button color="accent" (click)="editCategory(row)" >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button color="warn"  (click)="openConfirmationDialog(row)" >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
