<mat-card class="example-card">
  <mat-card-header>

  </mat-card-header>
  <mat-card-content>
    <div class="col-md-6 user-container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
      <h2 class="text-center">Add Category</h2>
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()" >

        <div class="form-group">
          <label for="designation">Designation:</label>
          <input type="text" formControlName="designation" placeholder="designation" name="designation" class="form-control" id="designation">
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <input type="text" formControlName="description" placeholder="description" name="description" class="form-control" id="description">
        </div>

        <button mat-flat-button color="accent" type="submit" [disabled]="!addForm.valid">Add</button>

      </form>

    </div>
  </mat-card-content>
</mat-card>
